

:root {
  --max-width: 1440px;
  --text-enormous: 36px;
  --text-exclusive: 20px;
  --text-title: 18px;
  --text-paragraph: 16px;
  --text-small: 14px;

  --weight-bold: 700;
  --weight-exclusive: 500;
  --weight-normal: 400;

  --bg-color: #292929;
  --text-color-white: #ffffff;
  --text-color-black: #131313;
  --text-secondary: #ccc;

  --main-accent: #052d85;
  --secondary-accent: #2541b2;
  --third-accent: #1768ac;
  --fourth-accent: #06a4e1;
  --accent-white: #fff7eb;

  --button-accent: #9ac5fc;
  --accent-border: #047adf;
  --red: #df0404;
  --light-red: #ffc4c4;
  --blured: rgba(0, 0, 0, 0.788);
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Comfortaa", sans-serif;
}

body {
  background-color: var(--bg-color);
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Farro", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button,
select,
textarea {
  border: none;
  font: inherit;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

input:focus {
  border: none;
  outline: none;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #3030305a;
}

.container {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  padding: 40px 10px 0 10px;
}

         
.blue__button {
  background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
  display: block;
}

.blue__button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

         
.red__button {
  background-image: linear-gradient(to right, #a73737 0%, #7a2828  51%, #a73737  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
  display: block;
}

.red__button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

    


.red__button:disabled,
.blue__button:disabled,
.blue__button:disabled a,
.red__button:disabled a {
  color: var(--disabled-color);
  background-color: var(--disbled-bg);
  border: 2px solid var(--disabled-color);
  transition: all 0.3s;
  cursor: not-allowed;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
